:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(8, 57, 8);
  color: rgb(199, 146, 10);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dealer-section,
.player-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0rem;
  border: solid rgb(228, 218, 218) 3px;
  padding: 0.5rem;
  background-color: rgb(79, 36, 36);
}

.total-dealer,
.total-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.dealer-total,
.player-total {
  border: solid white 2px;
  background-color: black;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.dealer-cards,
.player-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-cards p,
.dealer-cards p {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: solid goldenrod 5px;
  margin: 0 2rem;
  padding: 6rem 0.5rem;
  background-color: rgb(225, 223, 223);
  color: black;
  border-radius: 5px;
}

button {
  padding: 0.5rem 2rem;
  border: solid rgb(199, 146, 10) 3px;
  border-radius: 3px;
  font-size: 1rem;
  margin: 0rem 2rem;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.red-text {
  color: red;
}

img {
  height: 10rem;
  margin: 0.5rem;
}
